# Depresi贸n en M茅xico

## Procesamiento de Datos

Una vez que hemos recolectado las publicaciones de Twitter, es necesario procesar la informaci贸n del conjunto de datos para descartar la informaci贸n irrelevante.

> Dado que el conjunto de datos tiene un tama帽o de 1.76 GB, este proceso se realizar谩 de forma local.

### Importaci贸n de Librer铆as

In [1]:
import pandas as pd

### Lectura del Conjunto de Datos

Este proceso se realiza mediante la funci贸n <code>read_csv</code> de la librer铆a <code>pandas</code>.

In [2]:
twitter_data = pd.read_csv("./twitter-data-raw.csv")

### Exploraci贸n del Conjunto de Datos

Para comenzar, visualizamos una peque帽a muestra con la finalidad de seleccionar aquellos campos que son de utilidad.

Este proceso se realiza mediante la funci贸n <code>head</code> de la librer铆a <code>pandas </code>.

In [3]:
twitter_data.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1401367453347758080,1401366444374437890,2021-06-05 21:36:51 Hora de verano central (M茅...,2021-06-05,21:36:51,-500,3217442472,sensualplaying,Sensual Blue,NaN,...,"19.4978,-99.1269,10km",NaN,NaN,NaN,NaN,"[{'screen_name': 'TVCDeportes', 'name': 'TVC D...",NaN,NaN,NaN,NaN
1,1401367453272141828,1401367453272141828,2021-06-05 21:36:51 Hora de verano central (M茅...,2021-06-05,21:36:51,-500,114543206,krolagp,KROL- DAN 仇别别,NaN,...,"19.4978,-99.1269,10km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1401367440907513857,1401330722976288776,2021-06-05 21:36:48 Hora de verano central (M茅...,2021-06-05,21:36:48,-500,118880456,o_mcclure,Omar S谩nchez L,NaN,...,"19.4978,-99.1269,10km",NaN,NaN,NaN,NaN,"[{'screen_name': 'AlanaRendon', 'name': 'Alana...",NaN,NaN,NaN,NaN
3,1401367424813998080,1401367424813998080,2021-06-05 21:36:44 Hora de verano central (M茅...,2021-06-05,21:36:44,-500,1353743071679279104,baatmaan420,Alejandro Amaro,NaN,...,"19.4978,-99.1269,10km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1401367424004497413,1401367424004497413,2021-06-05 21:36:44 Hora de verano central (M茅...,2021-06-05,21:36:44,-500,124624358,dagomf,Dagoberto Morales,NaN,...,"19.4978,-99.1269,10km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

Como podemos observar, cada registro contiene informaci贸n detallada acerca de una publicaci贸n, para ser exactos, cada registro est谩 compuesto por **36 columnas**.

Despu茅s de un breve an谩lisis, determinamos que las columnas m谩s relevantes son: <code>user_id</code>, <code>date</code>, <code>tweet</code>, <code>language</code>.

Ahora creamos un nuevo <code>DataFrame</code> que contenga unicamente las columnas relevantes.

In [4]:
twitter_data_rc = twitter_data[["user_id", "date", "tweet", "language"]]

Es necesario asegurar que los _metadatos_ corresponden adecuadamente a la informaci贸n que almacena cada columna de nuestro conjunto de datos.

>Una buena consistencia nos permite procesar facilmente la informaci贸n.

Este proceso se realiza mediante la funci贸n <code>dtypes</code> de la librer铆a <code>pandas</code>.

In [5]:
twitter_data_rc.dtypes

user_id      int64
date        object
tweet       object
language    object
dtype: object

Observamos que el tipo de dato de la columna <code>date</code> no corresponde a la informaci贸n que almacena, por lo que es necesaria una conversi贸n de <code>Object</code> a <code>datetime64</code>.

Este proceso se realiza mediante la funci贸n <code>astype</code> de la librer铆a <code>pandas</code>.

In [6]:
twitter_data_rc = twitter_data_rc.astype({"date": "datetime64[ns]"})

Dado que los registros contienen publicaciones hechas en distintos idiomas, es necesario seleccionar unicamente las publicaciones en **espa帽ol** y adem谩s, descartar la columna <code>language</code>.

In [7]:
twitter_data_rc_f = twitter_data_rc[twitter_data_rc["language"] == "es"][["user_id", "date", "tweet"]]

Despu茅s, es necesario conocer la cantidad de informaci贸n que conservamos, ya que desconocemos la cantidad de registros que fueron descartados.

> Una gran cantidad de informaci贸n nos permite llevar a cabo un entrenamiento apropiado y por ende, generar un modelo con mayor precisi贸n.

Este proceso se realiza mediante la funci贸n <code>shape</code> de la librer铆a <code>pandas</code>.

In [8]:
print(f"Original: {twitter_data.shape[0]}\nFiltered: {twitter_data_rc_f.shape[0]}")

Original: 469544
Filtered: 368604

Como podemos observar, conservamos una cantidad de informaci贸n suficiente, as铆 que almacenamos dicha informaci贸n en un archivo <code>.CSV</code>.

Este proceso se realiza mediante la funci贸n <code>to_csv</code> de la librer铆a <code>pandas</code>.

In [9]:
twitter_data_rc_f.to_csv("./twitter-data.csv", index=False)